h1{
background-color: black;
font-family: "sans-serif";
font-size: 60px;
Color: White;
}
p{
font-family:"sans-serif";
font-size: 30px;
Color:white;
}
li{
font-family: "sans-serif";
font-size: 20px;
Color:white;
}
body
{
background: white url("https://i.ytimg.com/vi/oWKJAmOIZlQ/maxresdefault.jpg") no-repeat right top;
font-family: "Times";
font-size: 20px;
Color:white;
}
