
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
<h1>Thoughts from the Peanut Gallery</h1>
<p id="demo"></p>
<script>
document.getElementById("demo").innerHTML = Date();
</script>
<p>Hello! Welcome to my blog.</br> The mind of an electrical engineer is a funny thing.</br> 
Explore with me my world of thoughts, trials, challenges, life and journey</p>
<ul>
{% for blogentry in object_list %}
<li>
{{ blogentry.date|date:"m-d-Y" }} <a class="button button-primary" href={{ blogentry.id }}>{{ blogentry.title }}</a>
</li>
{% endfor %}
</ul>

{% endblock %}